Repository counterfactual/dapps-bots, changes with the owners that .github/CODEOWNERS names for each.
All owners: @snario, @ebryn, @IIIIllllIIIIllllIIIIllllIIIIllllIIIIll, @patience-tema-baron, @Alonski, @cf19drofxots, @joelalejandro, @spersico

.github/CODEOWNERS:

/* @snario
/packages/apps @snario
/packages/cf.js @ebryn
/packages/cf-adjudicator-contracts @IIIIllllIIIIllllIIIIllllIIIIllllIIIIll
/packages/cf-funding-protocol-contracts @IIIIllllIIIIllllIIIIllllIIIIllllIIIIll
/packages/dapp-tic-tac-toe @patience-tema-baron
/packages/dapp-high-roller @Alonski
/packages/high-roller-bot @cf19drofxots
/packages/machine @snario
/packages/node @cf19drofxots
/packages/node-provider @ebryn
/packages/playground @joelalejandro
/packages/simple-hub-server @joelalejandro
/packages/specs @IIIIllllIIIIllllIIIIllllIIIIllllIIIIll
/packages/tic-tac-toe-bot @cf19drofxots
/packages/types @snario
/packages/typescript-typings @snario
/packages/wallet-ui @joelalejandro @spersico

chore: Add Code Of Conduct
  CODE_OF_CONDUCT.md
Owners: @snario

chore: Add various configuration files
  .editorconfig
  .gitattributes
  .gitignore
  .nvmrc
  .soliumrc.json
  .yarnrc
  jest.config.js
  renovate.json
  tsconfig.json
  tslint.json
Owners: @snario

feat: Add High Roller Bot
  packages/high-roller-bot/.env-cmdrc
  packages/high-roller-bot/.gitignore
  packages/high-roller-bot/Procfile
  packages/high-roller-bot/README.md
  packages/high-roller-bot/jest.config.js
  packages/high-roller-bot/package.json
  packages/high-roller-bot/scripts/heroku-postbuild.sh
  packages/high-roller-bot/src/bot.ts
  packages/high-roller-bot/src/index.ts
  packages/high-roller-bot/src/utils.ts
  packages/high-roller-bot/tsconfig.do-not-edit-merged.json
  packages/high-roller-bot/tsconfig.heroku.json
  packages/high-roller-bot/tsconfig.json
  packages/high-roller-bot/tslint.json
Owners: @cf19drofxots

feat: Add tic-tac-toe-bot
  packages/tic-tac-toe-bot/.env-cmdrc
  packages/tic-tac-toe-bot/.gitignore
  packages/tic-tac-toe-bot/Procfile
  packages/tic-tac-toe-bot/README.md
  packages/tic-tac-toe-bot/jest.config.js
  packages/tic-tac-toe-bot/package.json
  packages/tic-tac-toe-bot/scripts/heroku-postbuild.sh
  packages/tic-tac-toe-bot/src/bot.ts
  packages/tic-tac-toe-bot/src/index.ts
  packages/tic-tac-toe-bot/src/utils.ts
  packages/tic-tac-toe-bot/test/contract-deployments.jest.ts
  packages/tic-tac-toe-bot/test/global-setup.jest.ts
  packages/tic-tac-toe-bot/test/global-teardown.jest.ts
  packages/tic-tac-toe-bot/test/integration.spec.ts
  packages/tic-tac-toe-bot/test/node-test-environment.jest.js
  packages/tic-tac-toe-bot/test/unit.spec.ts
  packages/tic-tac-toe-bot/tsconfig.do-not-edit-merged.json
  packages/tic-tac-toe-bot/tsconfig.heroku.json
  packages/tic-tac-toe-bot/tsconfig.json
  packages/tic-tac-toe-bot/tslint.json
Owners: @cf19drofxots

chore: Add CircleCI config
  .circleci/README.md
  .circleci/config.yml
Owners: none

chore: Add various files
  LICENSE
  lerna.json
  logo.svg
  package.json
Owners: @snario

chore: Add yarn.lock
  yarn.lock
Owners: @snario

fix: Use master version of dapp-high-roller
  packages/dapp-high-roller/src/components/app-provider/app-provider.tsx
  packages/dapp-high-roller/src/components/app-root/app-root.tsx
  packages/dapp-high-roller/src/components/app-wager/app-wager.tsx
  packages/dapp-high-roller/src/components/app-waiting/app-waiting.tsx
Owners: @Alonski

fix: Use unpkg CDN for High Roller dependencies
  packages/dapp-high-roller/src/index.html
Owners: @Alonski

fix: Use unpkg CDN for High Roller dependencies
  packages/dapp-high-roller/src/assets/cf.js
  packages/dapp-high-roller/src/assets/ethers.js
  packages/dapp-high-roller/src/assets/types.js
  packages/dapp-high-roller/src/index.html
Owners: @Alonski

fix: Use CDN for Tic Tac Toe dependencies
  packages/dapp-tic-tac-toe/public/cf.js
  packages/dapp-tic-tac-toe/public/ethers.js
  packages/dapp-tic-tac-toe/public/index.html
  packages/dapp-tic-tac-toe/public/types.js
Owners: @patience-tema-baron

fix: Use CDN for Playground dependencies
  packages/playground/src/assets/cf-wallet.js
  packages/playground/src/assets/cf.js
  packages/playground/src/assets/common-types.js
  packages/playground/src/assets/ethers.js
  packages/playground/src/assets/node.js
  packages/playground/src/index.html
Owners: @joelalejandro

fix: Use master version of Playground
  packages/playground/src/components/account/account-register/account-register.tsx
  packages/playground/src/components/app-root/app-root.tsx
  packages/playground/src/components/node-listener/node-listener.tsx
  packages/playground/src/data/counterfactual.ts
Owners: @joelalejandro

fix: Use unpkg CDN for High Roller dependencies
  packages/dapp-high-roller/src/assets/cf.js
  packages/dapp-high-roller/src/assets/ethers.js
  packages/dapp-high-roller/src/assets/eventemitter3.js
  packages/dapp-high-roller/src/assets/types.js
  packages/dapp-high-roller/src/index.html
Owners: @Alonski

fix: Use unpkg CDN for Tic Tac Toe dependencies
  packages/dapp-tic-tac-toe/public/cf.js
  packages/dapp-tic-tac-toe/public/ethers.js
  packages/dapp-tic-tac-toe/public/eventemitter3.js
  packages/dapp-tic-tac-toe/public/index.html
  packages/dapp-tic-tac-toe/public/types.js
Owners: @patience-tema-baron

fix: Use unpkg CDN for Playground dependencies
  packages/playground/src/assets/cf-wallet.js
  packages/playground/src/assets/cf.js
  packages/playground/src/assets/common-types.js
  packages/playground/src/assets/ethers.js
  packages/playground/src/assets/eventemitter3.js
  packages/playground/src/assets/node.js
  packages/playground/src/index.html
Owners: @joelalejandro

fix: Update package.json
  package.json
  patches/@resolver-engine+imports-fs+0.3.3.patch
  yarn.lock
Owners: @snario

cleaned up most of the README
  README.md
Owners: @snario

updated CircleCI shield
  README.md
Owners: @snario

updated @counterfactual/cf.js to 0.2.4
  packages/dapp-high-roller/package.json
  packages/dapp-high-roller/src/index.html
  packages/dapp-high-roller/tsconfig.json
  yarn.lock
Owners: @Alonski, @snario

refactored HR to use NodeEthereumProvider
  packages/dapp-high-roller/src/components/app-provider/app-provider.tsx
  packages/dapp-high-roller/src/components/app-root/app-root.tsx
  packages/dapp-high-roller/src/components/app-wager/app-wager.tsx
  packages/dapp-high-roller/src/components/app-waiting/app-waiting.tsx
Owners: @Alonski

added support for NodeEthereumProvider
  packages/dapp-high-roller/src/components/app-wager/app-wager.tsx
  packages/dapp-high-roller/src/index.html
  packages/high-roller-bot/package.json
  packages/high-roller-bot/src/bot.ts
  yarn.lock
Owners: @Alonski, @cf19drofxots, @snario

updated node & types
  packages/high-roller-bot/package.json
  yarn.lock
Owners: @cf19drofxots, @snario

updated CircleCI configuration
  .circleci/config.yml
Owners: none

updated @counterfactual/apps
  packages/dapp-tic-tac-toe/package.json
Owners: @patience-tema-baron

regenerated lockfile
  yarn.lock
Owners: @snario

applied lint:fix
  packages/dapp-high-roller/src/components/app-wager/app-wager.tsx
  packages/high-roller-bot/src/bot.ts
Owners: @Alonski, @cf19drofxots

updated @counterfactual/types to 0.0.32
  packages/dapp-high-roller/package.json
  yarn.lock
Owners: @Alonski, @snario

removed renovate.json
  renovate.json
Owners: @snario

fixed repo/bugs links in all packages
  packages/dapp-high-roller/package.json
  packages/dapp-tic-tac-toe/package.json
  packages/high-roller-bot/package.json
  packages/playground/package.json
  packages/tic-tac-toe-bot/package.json
Owners: @Alonski, @patience-tema-baron, @cf19drofxots, @joelalejandro

removed patch, renamed run:playground to run:all
  package.json
  patches/.gitkeep
  patches/scrypt+6.0.3.patch
Owners: @snario

added `types`, `typescript-typings` (all packages)
  packages/dapp-high-roller/package.json
  packages/dapp-tic-tac-toe/package.json
  packages/high-roller-bot/package.json
  packages/playground/package.json
  packages/tic-tac-toe-bot/package.json
  yarn.lock
Owners: @Alonski, @patience-tema-baron, @cf19drofxots, @joelalejandro, @snario

cleaned up comments in tslint.json
  tslint.json
Owners: @snario

updated all tsconfig.json files
  packages/dapp-high-roller/tsconfig.json
  packages/high-roller-bot/tsconfig.do-not-edit-merged.json
  packages/high-roller-bot/tsconfig.json
  packages/playground/tsconfig.json
  packages/tic-tac-toe-bot/tsconfig.do-not-edit-merged.json
  packages/tic-tac-toe-bot/tsconfig.json
  tsconfig.json
Owners: @Alonski, @cf19drofxots, @joelalejandro, @snario

fixed typo
  tsconfig.json
Owners: @snario

[dapps-bots] Lots of fixes for package.json and tsconfig.json (#14)
  package.json
  packages/dapp-high-roller/package.json
  packages/dapp-high-roller/tsconfig.json
  packages/dapp-tic-tac-toe/package.json
  packages/high-roller-bot/package.json
  packages/high-roller-bot/tsconfig.do-not-edit-merged.json
  packages/high-roller-bot/tsconfig.json
  packages/playground/package.json
  packages/playground/tsconfig.json
  packages/tic-tac-toe-bot/package.json
  packages/tic-tac-toe-bot/tsconfig.do-not-edit-merged.json
  packages/tic-tac-toe-bot/tsconfig.json
  patches/.gitkeep
  patches/scrypt+6.0.3.patch
  renovate.json
  tsconfig.json
  tslint.json
  yarn.lock
Owners: @snario, @Alonski, @patience-tema-baron, @cf19drofxots, @joelalejandro

Add renovate.json
  renovate.json
Owners: @snario

renamed yarn:run:* to yarn:start
  package.json
Owners: @snario

added a decent README
  README.md
Owners: @snario

migrated HR bot to rpcRouter.dispatch()
  packages/high-roller-bot/src/bot.ts
  packages/high-roller-bot/src/utils.ts
Owners: @cf19drofxots
