Repository counterfactual/dapps-bots, changes with the owners that .github/CODEOWNERS names for each.
All owners: @snario, @ebryn, @IIIIllllIIIIllllIIIIllllIIIIllllIIIIll, @patience-tema-baron, @Alonski, @cf19drofxots, @joelalejandro, @spersico

.github/CODEOWNERS:

/* @snario
/packages/apps @snario
/packages/cf.js @ebryn
/packages/cf-adjudicator-contracts @IIIIllllIIIIllllIIIIllllIIIIllllIIIIll
/packages/cf-funding-protocol-contracts @IIIIllllIIIIllllIIIIllllIIIIllllIIIIll
/packages/dapp-tic-tac-toe @patience-tema-baron
/packages/dapp-high-roller @Alonski
/packages/high-roller-bot @cf19drofxots
/packages/machine @snario
/packages/node @cf19drofxots
/packages/node-provider @ebryn
/packages/playground @joelalejandro
/packages/simple-hub-server @joelalejandro
/packages/specs @IIIIllllIIIIllllIIIIllllIIIIllllIIIIll
/packages/tic-tac-toe-bot @cf19drofxots
/packages/types @snario
/packages/typescript-typings @snario
/packages/wallet-ui @joelalejandro @spersico

migrated TTT bot to rpcRouter.dispatch()
  packages/tic-tac-toe-bot/src/bot.ts
  packages/tic-tac-toe-bot/src/utils.ts
Owners: @cf19drofxots

[dapps-bots] Adds README file (#16)
  README.md
  package.json
Owners: @snario

changed module to commonjs for heroku
  packages/high-roller-bot/tsconfig.do-not-edit-merged.json
  packages/tic-tac-toe-bot/tsconfig.do-not-edit-merged.json
Owners: @cf19drofxots

[high-roller-bot] [tic-tac-toe-bot] Upgrade Node API calls (#18)
  packages/high-roller-bot/src/bot.ts
  packages/high-roller-bot/src/utils.ts
  packages/high-roller-bot/tsconfig.do-not-edit-merged.json
  packages/tic-tac-toe-bot/src/bot.ts
  packages/tic-tac-toe-bot/src/utils.ts
  packages/tic-tac-toe-bot/tsconfig.do-not-edit-merged.json
Owners: @cf19drofxots

updated packages, started to work on new calls
  packages/dapp-tic-tac-toe/public/index.html
  packages/dapp-tic-tac-toe/src/App.js
  packages/dapp-tic-tac-toe/src/Wager.jsx
  tsconfig.json
Owners: @patience-tema-baron, @snario

fixed TTT to use `ethereum` msgs, ready to propose
  packages/dapp-tic-tac-toe/package.json
  packages/dapp-tic-tac-toe/src/App.js
  packages/dapp-tic-tac-toe/src/Wager.jsx
  yarn.lock
Owners: @patience-tema-baron, @snario

updated cf deps to use latest versions
  packages/dapp-tic-tac-toe/package.json
  packages/tic-tac-toe-bot/package.json
  yarn.lock
Owners: @patience-tema-baron, @cf19drofxots, @snario

fixed linting
  packages/dapp-tic-tac-toe/src/Wager.jsx
  packages/tic-tac-toe-bot/src/bot.ts
Owners: @patience-tema-baron, @cf19drofxots

deps: Update dependencies
  .circleci/config.yml
  package.json
  packages/dapp-high-roller/package.json
  packages/dapp-tic-tac-toe/package.json
  packages/high-roller-bot/package.json
  packages/playground/package.json
  packages/tic-tac-toe-bot/package.json
  yarn.lock
Owners: @snario, @Alonski, @patience-tema-baron, @cf19drofxots, @joelalejandro

fix: interface implementation of store service; rpc method name references
  packages/playground/src/components/app-root/app-root.tsx
  packages/playground/src/data/counterfactual.ts
  packages/playground/src/data/firebase.ts
Owners: @joelalejandro

fix: Use pinned yarn engine in CI
  .circleci/config.yml
Owners: none

[deps] Update dependencies (#21)
  .circleci/config.yml
  package.json
  packages/dapp-high-roller/package.json
  packages/dapp-tic-tac-toe/package.json
  packages/high-roller-bot/package.json
  packages/playground/package.json
  packages/playground/src/components/app-root/app-root.tsx
  packages/playground/src/data/counterfactual.ts
  packages/playground/src/data/firebase.ts
  packages/tic-tac-toe-bot/package.json
  yarn.lock
Owners: @snario, @Alonski, @patience-tema-baron, @cf19drofxots, @joelalejandro

fix: update dependencies and types
  packages/high-roller-bot/package.json
  packages/high-roller-bot/src/bot.ts
  packages/high-roller-bot/src/index.ts
  packages/high-roller-bot/src/utils.ts
  packages/playground/package.json
  packages/tic-tac-toe-bot/package.json
  packages/tic-tac-toe-bot/src/bot.ts
  packages/tic-tac-toe-bot/src/index.ts
  packages/tic-tac-toe-bot/src/utils.ts
  yarn.lock
Owners: @cf19drofxots, @joelalejandro, @snario

chore: Update `react-scripts` in TTT Was causing ESLint errors
  packages/dapp-tic-tac-toe/package.json
Owners: @patience-tema-baron

chore: Add @counterfactual/apps to High Roller
  packages/dapp-high-roller/package.json
  yarn.lock
Owners: @Alonski, @snario

feat: Create getHighRollerContractAddress function Use it in High Roller cFProvider and highRoller
  packages/dapp-high-roller/src/components/app-provider/app-provider.tsx
  packages/dapp-high-roller/src/components/app-root/app-root.tsx
  packages/dapp-high-roller/src/utils/utils.ts
Owners: @Alonski

chore: Get networkVersion for TTT using ethereum Falls back to Kovan if not found
  packages/dapp-tic-tac-toe/src/Wager.jsx
Owners: @patience-tema-baron

chore: Fixed TS complaining about apps/networks
  packages/dapp-high-roller/src/utils/utils.ts
Owners: @Alonski

chore: Update dapps to use apps@0.1.12
  packages/dapp-high-roller/package.json
  packages/dapp-tic-tac-toe/package.json
  yarn.lock
Owners: @Alonski, @patience-tema-baron, @snario

chore: Update Bots CF Node dependency
  packages/high-roller-bot/package.json
  packages/high-roller-bot/src/index.ts
  packages/tic-tac-toe-bot/package.json
  packages/tic-tac-toe-bot/src/index.ts
  yarn.lock
Owners: @cf19drofxots, @snario

fix: Bots TSConfig to module: commonjs
  packages/high-roller-bot/tsconfig.json
  packages/tic-tac-toe-bot/tsconfig.json
Owners: @cf19drofxots

fix: Bots Node usages
  packages/high-roller-bot/src/bot.ts
  packages/high-roller-bot/src/utils.ts
  packages/tic-tac-toe-bot/src/bot.ts
  packages/tic-tac-toe-bot/src/utils.ts
Owners: @cf19drofxots
